@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 text-stone-800;
  }

  ::selection {
    @apply bg-stone-200 text-stone-900;
  }

  * {
    @apply border-stone-200;
  }
}